button:hover{
    color: yellow;
    background-color: black;
    cursor: pointer;
}
button{
    color: black;
    background-color: yellow;
    font-size: larger;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
    min-width: max-content;
}
@media screen and (min-width:961px) {
    button{
        font-size: x-large;
    }
}
.start{
    border-bottom-right-radius: 16px;  
}
.q-title{
    border-bottom-right-radius: 16px;  
    border: ridge;
    border-color: rgb(123, 196, 196);
    border-width: 8px;
    background-color: white;
    height: 2.2em;
}
@media screen and (max-width:480px) {
    .q-title{
        max-height: 40px;
    } 
}
.start [alt]{
    font-size: xx-large;
}
.logo{
    border-radius: 50%;
    max-width: 20%;
}

.pokemon{
    max-height: 100px;
    text-align: right;
}
@media screen and (min-width:481px) {
    .pokemon{
        max-height: 200px;
        max-width:30%;
    }
    
}

.p-quiz{
    padding-top: .5%;
    padding-right: 5%;
    padding-left:5%;
    margin-right: 10%;
    margin-left: 10%;
    background-color:white;
    border-radius:2pc;
}
@media screen and (max-width:480px) {
    .p-quiz{
        padding-top: .5%;
        padding-right: 2%;
        padding-left:2%;
        margin-right: 1%;
        margin-left: 1%;
    }
}


figcaption{
    color: white;
    max-width: max-content;
    border-radius: .5pc;
    padding: 8px;
}

@media screen and (max-width:600px) {
    .town{
        max-width:  160px;  
    }   
}
.town{
    max-width: 40%;
    text-align: left;
    margin-right: 10%;
}
audio{
    max-width: 100%;
}
.choice{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end;
}
ul {
    list-style: none;
}


textarea{
    font-size: large;
}
@media screen and(min-width:960px) {
    textarea{
        font-size: xx-large;
    }
}

n and(min-width:960px) {
    textarea{
        font-size: xx-large;
    }
}

