button:hover{
    color: yellow;
    background-color: black;
    cursor: pointer;
}
button{
    color: black;
    background-color: yellow;
    font-size: larger;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
    min-width: max-content;
}
@media screen and (min-width:961px) {
    button{
        font-size: x-large;
    }
}
.start{
    border-bottom-right-radius: 16px;  
}
.q-title{
    border-bottom-right-radius: 16px;  
    border: ridge;
    border-color: rgb(123, 196, 196);
    border-width: 8px;
    background-color: white;
    height: 2.2em;
}
@media screen and (max-width:480px) {
    .q-title{
        max-height: 40px;
    } 
}
.start [alt]{
    font-size: xx-large;
}
.logo{
    border-radius: 50%;
    max-width: 20%;
}



.p-quiz{
    padding-top: .5%;
    padding-right: 5%;
    padding-left:5%;
    margin-right: 10%;
    margin-left: 10%;
    background-color:white;
    border-radius:2pc;
}
@media screen and (max-width:480px) {
    .p-quiz{
        padding-top: .5%;
        padding-right: 2%;
        padding-left:2%;
        margin-right: 1%;
        margin-left: 1%;
    }
}


figcaption{
    color: white;
    max-width: max-content;
    border-radius: .5pc;
    padding: 8px;
}



audio{
    max-width: 100%;
}
.choice{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end;
}
ul {
    list-style: none;
}


textarea{
    font-size: large;
}
@media screen and(min-width:960px) {
    textarea{
        font-size: xx-large;
    }
}

/* クイズ */
.c-btn {
    -webkit-appearance: none;
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    text-decoration: none;
    background: gray;
    cursor: pointer;
}
.p-quiz {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}
.p-quiz-ttl {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: normal;
}
.p-quiz-next {
    width: 300px;
    margin: auto;
}
.p-quiz-choices {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding-left: 0;
}
.p-quiz-choices__item {
    width: calc(50% - 10px);
    list-style: none;
    margin: 5px;
}