body,.p-quiz-ttl{
    animation-name: displayAnime;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    }
.c-btn{
    animation-name: displayAnime;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    }
@keyframes displayAnime{
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

button:hover{
    background-color: yellow;
    cursor: pointer;
}
button{
    color: yellow;
    font-size: larger;
    text-decoration: none;
    min-width: max-content;
}
@media screen and (min-width:961px) {
    button{
        font-size: x-large;
    }
}

.container {
    min-height: 100vh;
}
.start{
    border-bottom-right-radius: 16px;  
}
.q-title{
    border-bottom-right-radius: 16px;  
    border: ridge;
    border-color: yellow;
    border-width: 8px;
    background-color: white;
    height: 2.2em;
}
@media screen and (max-width:480px) {
    .q-title{
        max-height: 40px;
    } 
}
.start [alt]{
    font-size: xx-large;
}
.logo{
    border-radius: 50%;
    max-width: 20%;
}


figcaption{
    color: white;
    max-width: max-content;
    border-radius: .5pc;
    padding: 8px;
}



audio{
    max-width: 100%;
}



textarea{
    font-size: large;
}
@media screen and(min-width:960px) {
    textarea{
        font-size: xx-large;
    }
}

/* クイズ */
/* button */
.c-btn {
    -webkit-appearance: none;
    appearance: none;
    text-align: right;
    font-weight: bold;
    width: 100%;
    height: 40px;
    padding-right: 10%;
    margin-bottom: 2%;
    text-decoration: none;
    cursor: pointer;
}
/* h2 */
.p-quiz-ttl{
    text-align: left;
    background-color: black;
    color: white;
    padding: 4px;
}
.p-quiz {
    padding: .5%  5%;
    background-color:white;
    border-radius:16px;
    width: 90%;
    max-width: 960px;
    margin: 40px auto;
}
@media screen and (max-width:480px) {
    .p-quiz{
        padding:.5% 2%;
    }
}


@media screen and (max-width:679px) {
    .choice{
        display:flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: flex-end;
    }
    .p-quiz-choices__item {
        width: 50%;
        list-style: none;
        margin: 5px;
        min-width: 200px;
    }
}
@media screen and (min-width:680px){
    .choice{
        display:flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: flex-end;
    }
    .p-quiz-choices{
        display: flex;
        flex-wrap: wrap;
    }
    .p-quiz-choices__item {
        width: 40%;
        list-style: none;
        margin: 5px;
        min-width: 200px;
    }
};
        margin: 5px;
        min-width: 200px;
    }
}margin: 5px;
        min-width: 200px;
    }
}