/* img:hover{
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
} */
/* .intro p{
    font-family:  PKMN Western;
    src: url("fonts/pkmn_w.ttf") format("truetype");
} */

img {
    max-width:100%; height:auto;
}
.pages{
    text-align: center;
    border: ridge;
    border-width: 8px;
    max-height:max-content;
    min-width: min-content;
}
.intro{
    border-color: white;
    border-radius: 8px;
}
.pre{
    background-image:url(src/Image/Logotype.jpg);
}
.tab{
	display: flex;
	flex-wrap: wrap;
}
.tab li a{
	display: block;
	background:#ddd;
	margin:20px;
	padding:10px 20px;
}
.questions{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
@media screen and (max-width:495px) {
    .questions{
        display:inline;
        flex-direction: row;
        justify-content:center;
    }
}
.guide{
    font-size:1.2em;
    color: white;
    border-radius: 4pc;
    padding: .5%;
}
@media screen and (min-width:960px){
    .guide{
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }
}
/* h3{
    border-radius: 4px;
    background: white;
    font-size:24px;
} */
#rgb{
    margin-bottom:10%;
}
@media screen and (max-width:495px){
    .now{background-color: yellow;padding-top: 10px;border-top-left-radius: 24px; border-top-right-radius: 24px;}
    .go section{color:black;background-color:black;padding-top: 4px;margin: 5%;border-radius: 24px;}
    .go div{text-decoration:underline;}
}
/* ポケモン検定に挑戦のフォントの大きさに悪戦苦闘 */
@media screen and (min-width:352px){
    .intro h1{font-size: 2.7rem;}
}
@media screen and (min-width:378px){
    .intro h1{font-size: 3rem;}
}
@media screen and (min-width:416px){
    .intro h1{font-size: 3.2rem;}
}
/* @media screen and (min-width:442px){
    .intro h1{font-size: 2.7rem;}
} */
@media screen and (min-width:601px){
    .intro h1{font-size: 3.5rem;}
}
@media screen and (min-width:496px){
    .go section{color:white;}
}
.go{
    font-size: larger;
    border-color: yellow;
    border-radius: 4px;
    padding-top:8px;
    padding-left:16px;
    padding-right: 16px;
}
.go [alt]{
    border-radius: 4px;
    background: white;
    font-size:x-large; 
}
button:hover{
    color: yellow;
    background-color: black;
    cursor: pointer;
}
button{
    font-size: xx-large;
    color: black;
    background-color:yellow;
    margin-bottom:5%;
    transition-property: color;
    transition-duration: 1s;
}





