.tab{
    display: flex;
    justify-content:left;
}
.tab li a{
    color:white;
display: block;
background:black;
padding:10px 10px;
transition-property: background;
transition-duration: .4s;
}

.tab li.active a{
background:gray;
}



.area {
display: none;
opacity: 0;
background:rgb(127,255,127);
padding:50px 20px;
}

.area.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
from {
    opacity: .2;
}
to {
    opacity: 1;
}
}

ul{
list-style:none;
min-width:300px ;
}

a{
text-decoration: none;
}

.wrapper{
width:100%;
max-width: 1000px;
margin:20px auto;
    background:rgb(127,255,127);
}rames displayAnime{
from {
    opacity: .5;
}
to {
    opacity: 1;
}
}

ul{
list-style:none;
min-width:300px ;
}

a{
text-decoration: none;
}

.wrapper{
width:100%;
max-width: 1000px;
margin:20px auto;
    background:rgb(127,255,127);
}